<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ pokemon.name | uppercase }} | ID:{{pokemon.id}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;min-height:600px;min-width:500px">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Stats">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div layout="column" flex="20">
                                <h3>Types</h3>
                                <md-button class="type-button" ng-style="type1Style" disabled>{{type1}}</md-button>
                                <md-button class="type-button" ng-style="type2Style" disabled ng-show="type2">{{type2}}</md-button>
                                <h3>Weaknesses</h3>
                                <md-button class="type-button" ng-repeat="weakness in weaknesses" ng-style="weakness.style" disabled>{{weakness.type}}</md-button>
                            </div>
                            <div layout="column" flex="80" >
                                <canvas id="stats-chart" width="10" height="8"></canvas>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Moves List">
                    <md-toolbar class="md-theme-light">
                        <h2 class="md-toolbar-tools">
                            <span>{{pokemon.name | capitalize}}'s Moves</span>
                        </h2>
                        <input type=text
                    </md-toolbar>
                    <md-content class="md-padding">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Filter By</label>
                            <input ng-model="moveFilterText">
                        </md-input-container>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="move in pokemon.moves| orderBy: '-move.name': true | filter: {move: {name: moveFilterText}}">
                                <div class="md-list-item-text">
                                    <h3>{{move.move.name}}</h3>
                                </div>
                                <md-button class="md-secondary" ng-click="alert('testing')" >Details</md-button>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Choose Moves" data-ng-if="inParty" >
                    <md-content class="md-padding">
                        <div layout='column'>
                            <br><br>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First Move</label>
                                <md-select ng-model="pokemon.move1" ng-change="saveState()">
                                    <md-option ng-repeat="move in pokemon.moves | orderBy: '-move.name': true" value="{{move.move.name}}">
                                        {{move.move.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Second Move</label>
                                <md-select ng-model="pokemon.move2"  ng-change="saveState()">
                                    <md-option ng-repeat="move in pokemon.moves | orderBy: '-move.name': true" value="{{move.move.name}}">
                                        {{move.move.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Third Move</label>
                                <md-select ng-model="pokemon.move3" ng-change="saveState()">
                                    <md-option ng-repeat="move in pokemon.moves | orderBy: '-move.name': true" value="{{move.move.name}}">
                                        {{move.move.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                            <label>Fourth Move</label>
                                <md-select ng-model="pokemon.move4"  ng-change="saveState()">
                                    <md-option ng-repeat="move in pokemon.moves | orderBy: '-move.name': true" value="{{move.move.name}}">
                                        {{move.move.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-hide="inParty" ng-click="answer({pokemon, add: true})">
                Add To Party
            </md-button>
            <md-button ng-show="inParty" ng-click="answer({pokemon, add: false, index})">
                Remove From Party
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>