<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ pokemon.name | uppercase }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;min-height:400px;min-width:400px">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-content class="md-padding">
                        <div layout="column">
                            <div layout="row"><h3>Types</h3>
                                <md-button class="type-button" ng-style="type1Style" disabled>{{type1}}</md-button>
                                <md-button class="type-button" ng-style="type2Style" disabled ng-show="type2">{{type2}}</md-button>
                            </div>
                            <canvas id="stats-chart" width="200px" height="200px"></canvas>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="two">
                    <md-content class="md-padding">

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-hide="inParty" ng-click="answer({pokemon, add: true})">
                Add To Party
            </md-button>
            <md-button ng-show="inParty" ng-click="answer({pokemon, add: false, index})">
                Remove From Party
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>