<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ pokemon.name | uppercase }} | ID:{{pokemon.id}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;min-height:600px;min-width:500px">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Stats">
                    <md-content class="md-padding">
                        <div layout="row">
                            <!--<div layout="column" flex="20" >
                                <h3>Attributes</h3>
                                <md-chips>
                                    <md-chip><span style="color:type1Style.backgroundColor">{{type1}}</span></md-chip>
                                    <br></br>
                                    <md-chip ng-show="type2" ><span style="color:type2style.backgroundColor">{{type2}}}</span></md-chip>
                                </md-chips>
                                <h3>Weaknesses</h3>
                                <md-chips>
                                    <md-chip><span style="color:blue">Water Type</span></md-chip>
                                    <br></br>
                                    <md-chip><span style="color:deeppink">Fairy type</span></md-chip>
                                </md-chips>
                            </div>
                            <div layout="column" flex="80">
                                <canvas id="stats-chart" width="6" height="5"></canvas>
                            </div>-->
                            <div layout="column" flex="20">
                                <h3>Types</h3>
                                <md-button class="type-button" ng-style="type1Style" disabled>{{type1}}</md-button>
                                <md-button class="type-button" ng-style="type2Style" disabled ng-show="type2">{{type2}}</md-button>
                            </div>
                            <div layout="column" flex="80" >
                                <canvas id="stats-chart" width="10" height="10"></canvas>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Moves List">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Title</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Choose Moves" data-ng-if="inParty" >
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Title</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-hide="inParty" ng-click="answer({pokemon, add: true})">
                Add To Party
            </md-button>
            <md-button ng-show="inParty" ng-click="answer({pokemon, add: false, index})">
                Remove From Party
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>