<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Pokemon Main</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="index.css">

    <!-- ICON LIBRARY -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="pokemonApp" ng-controller="pokeMainController">
    <div layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Pokemon Team Builder</h2>
                <md-button href="/index.html">Home</md-button>
            </div>
        </md-toolbar>

        <form ng-submit="getPokemonDetails(searchText)">
            <div layout="row" layout-align="start start">
                <md-autocomplete class="autocomplete"
                    flex='30'
                    md-selected-item="selectedPokemon"
                    md-search-text="searchText"
                    md-items="pokemon in getMatches(searchText)"
                    md-item-text="pokemon"
                    placeholder="Enter pokemon name or ID">
                    <span>{{pokemon}}</span>
                </md-autocomplete>
                <md-button type="submit" style="margin-top: 16px">Lookup</md-button>
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loadingPokemon" style="margin-top:1em">
                    <md-progress-circular md-mode="indeterminate" ng-disabled="!loadingPokemon" class="md-accent" md-diameter="35"></md-progress-circular>
                </div>
            </div>
        </form>

        <div ng-show="stagedPokemon" layout="row">
            <md-card style="min-width: 350px; min-height: 200px">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{stagedPokemon.name | uppercase}}</span>
                    <!--<span class="md-subhead">Large</span>-->
                </md-card-title-text>
                <md-card-title-media>
                    <img src='{{stagedPokemon.sprites.front_default}}'>
                </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetails($event, stagedPokemon, false)">Details</md-button>
                    <md-button ng-click="addToParty(stagedPokemon)">Add to Party</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <h2> My Team </h2>
        <div layout="row" layout-wrap style="margin-left:3em">
            <md-card
                md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" 
                flex='90'
                flex-gt-sm="30"
                md-theme-watch 
                ng-repeat="pokemon in teamMembers track by $index"
                style="min-width:400px">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{pokemon.name | uppercase}}</span>
                    <br></br>
                    <div layout="row">
                        <div layout="column" flex="50">
                            <md-button ng-show="pokemon.move1" >{{ pokemon.move1 | title }}</md-button>
                            <md-button ng-show="pokemon.move2" >{{ pokemon.move2 | title }}</md-button>
                        </div>
                        <div layout="column" flex="50">
                            <md-button ng-show="pokemon.move3" >{{ pokemon.move3 | title }}</md-button>
                            <md-button ng-show="pokemon.move4" >{{ pokemon.move4 | title }}</md-button>
                        </div>
                    </div>
                    <!--<span class="md-subhead">Large</span>-->
                </md-card-title-text>
                <md-card-title-media>
                    <img src='{{pokemon.sprites.front_default}}'>
                </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetails($event, pokemon, true, $index, teamMembers)">Details</md-button>
                    <md-button ng-click="removeFromParty($index)">Remove From Party</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

<!-- PokeTypes -->
<script src="lib/types.js"></script>

<!-- Angular Scripts-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/chart.js/dist/Chart.js"></script>

<!-- Angular Material Scripts -->
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Index Script -->
<script src="index.js"></script>

</body>
</html>
