<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Pokemon Main</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/png"  href="img/uvuFavicon.png" sizes="32x32">
</head>
<body ng-app="pokemonApp" ng-controller="pokeMainController">
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools"> 
                <h2>Pokemon Team Builder</h2>
                <md-button>Home</md-button>
            </div>
        </md-toolbar>

        <md-input-container> 
            <label>Pokemon Name or ID</label>
            <input type="text" ng-model="pokemonID" ></input>
            <md-button ng-click="getPokemonDetails(pokemonID)" >Submit</md-button>
        </md-input-container>
        
        <!--<pre>{{pokemonDetails | json}}</pre>-->

        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{stagedPokemon.name | uppercase}}</span>
            <!--<span class="md-subhead">Large</span>-->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button >Add to Party</md-button>
        </md-card-actions>
      </md-card>
    </div>

<!-- Angular Scripts-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>

<!-- Angular Material Scripts -->
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Index Script -->
<script src="index.js"></script>

</body>
</html>
